*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #678fee;;
}


.poke-details {
    padding: 1rem;
    background-color: white;
}

.content-details{
    
    grid-template-columns: 1fr;
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

#imgTitle{
    align-self: flex-end;
    height: 70px;
    max-width: 100%;
}
.pokemonDetails{
    display: flex;
    flex-direction: column;
    background-color: #a2040465;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    width: 90%;
    
}



.pokemonDetails .pokemonListDetails{
    height: 45%;
    list-style: none;
    text-align: center;
    margin-top: 5px;
}

.pokemonDetails .pokemonListDetails .nomePokemon{
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    margin: 0.25rem 0;
    text-shadow: #054c33 1px 2px;
    font-size: 1.5rem;
    background: none;
    border: none;
    text-align: justify;
    cursor: pointer;
}

.pokemonDetails .pokemonListDetails .number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: 1rem;
    
}
.img{
    width: 60%;
    margin-top: 1rem;
    align-self: center;
}

.pokemonDetails .typesaAndImg{
    text-align: center;
}
.pokemonDetails .typesaAndImg .types{
    margin-inline-start: 0;
    padding-inline-start: 0;
   
}
.pokemonDetails .typesaAndImg .types{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    
}
.pokemonDetails .typesaAndImg .types .typePokemon {
    color: #fff;
    padding: 0.3rem;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.25rem;
    opacity: .8;
    border: #ffffff58 solid 1px;
    background-color: #ffffff25;
    text-shadow: #fff 3 2px 1px;
    filter: brightness(1.5);
    width: auto;
}

.characteristicsPokemon{
    height: 100%;
    background-color: #edededda;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
  
}


.img{

    background-image: url("../css/background.png");
    background-repeat: space;
    background-size:100%;

}
.characteristicsPokemon .description .descriptionList{
    list-style: none;
    margin: .5rem;
    margin-inline-start: 0;
    padding-inline-start: 0;
    
}

.characteristicsPokemon .description .descriptionList li{
    padding: 0.1rem;
    border: #717070 solid 1px;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    background-color: #302b2b65;
    color: #fff;
    font-size: .895rem;
    text-align: center;
    width: auto;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}


.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px){
    .content-details{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .content-details{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .content-details{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
 
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}